<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahao.leshan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="乐山"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".register.Register"></activity>
        <activity android:name=".login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sponsor"
            android:label="赞助我们" />
        <activity
            android:name=".Help"
            android:label="关于我们" />
        <activity
            android:name=".MainActivity2"
            android:label="乐山"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".detial.FoodDetial"
            android:label="美食"
            android:parentActivityName=".Food" />
        <activity
            android:name=".detial.TravleDetial"
            android:label="旅游"
            android:parentActivityName=".Travle" />
        <activity
            android:name=".Travle"
            android:label="旅游"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".Food"
            android:parentActivityName=".MainActivity2" />
    </application>

</manifest>